# General
# 일반적인 설정들을 무시합니다.
*.DS_Store
.env

# Python
# 파이썬과 관련된 파일 및 디렉토리를 무시합니다.
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
# 장고 프레임워크와 관련된 파일을 무시합니다.
*.pyc
*.pyo

# Django 프로젝트 설정 파일 무시
backend/config/settings.py

# Node.js
# Node.js 프로젝트와 관련된 파일 및 디렉토리를 무시합니다.
node_modules/

# React
# React 프로젝트와 관련된 파일 및 디렉토리를 무시합니다.
/build/
/frontend/.next/
/frontend/dist

# Vite
# Vite 프로젝트와 관련된 파일 및 디렉토리를 무시합니다.
/dist/

# Tailwind CSS
# Tailwind CSS 프로젝트와 관련된 파일 및 디렉토리를 무시합니다.
/.cache/
/.svelte-kit/
/node_modules/

# Docker
# Docker와 관련된 파일 및 디렉토리를 무시합니다.
docker-compose.override.yml
.dockerignore
*.log

# MySQL
# MySQL 데이터베이스와 관련된 파일을 무시합니다.
*.log
*.pid
*.err
*.sock

# frontend 프로젝트의 빌드 디렉토리 무시
frontend/build/

# backend 프로젝트의 가상 환경 디렉토리 무시
backend/venv/

# backend/config 디렉토리 내부의 민감한 정보가 담긴 파일을 무시
backend/config/*.secret
backend/config/*.conf
backend/config/*.key
backend/config/.env

# .gitattributes 파일 
.gitattributes

# 파이참 임시파일 제외
/.idea/
.env
